/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */
/* ---------- Global styles ---------- */
@font-face {
  font-family: 'SignikaRegular';
  src: url("../fonts/Signika-Regular-webfont.eot");
  src: url("../fonts/Signika-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Signika-Regular-webfont.woff") format("woff"), url("../fonts/Signika-Regular-webfont.ttf") format("truetype"), url("../fonts/Signika-Regular-webfont.svg#SignikaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/component-browser.scss */
a {
  color: #2370a9;
  text-decoration: none;
}

/* line 32, ../sass/component-browser.scss */
a:hover {
  text-decoration: underline;
}

/* line 36, ../sass/component-browser.scss */
body, html {
  height: 100%;
}

/* line 40, ../sass/component-browser.scss */
body {
  background: url("../img/linen.png");
  font-family: "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
  color: #333;
}

/* ---------- Nav Panel styles ---------- */
/* line 48, ../sass/component-browser.scss */
#nav-panel {
  width: 20%;
  min-width: 100px;
  height: 100%;
  position: fixed;
  background: #fff;
}

/* line 56, ../sass/component-browser.scss */
#finder-panel {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 1px;
}

/* line 63, ../sass/component-browser.scss */
#finder {
  padding: 10px 0 0 5%;
  width: auto;
  clear: both;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #666666), color-stop(100%, #2d2d2d));
  background-image: -webkit-linear-gradient(top left, #666666, #2d2d2d);
  background-image: -moz-linear-gradient(top left, #666666, #2d2d2d);
  background-image: -o-linear-gradient(top left, #666666, #2d2d2d);
  background-image: -ms-linear-gradient(top left, #666666, #2d2d2d);
  background-image: linear-gradient(top left, #666666, #2d2d2d);
  -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

/* line 72, ../sass/component-browser.scss */
#finder li {
  float: left;
  margin-right: 5%;
  padding: 10px 5% 5px;
  width: 35%;
  text-align: center;
  border-top: rgba(255, 255, 255, 0.5) solid 1px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #969696), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(top left, #969696, #666666);
  background-image: -moz-linear-gradient(top left, #969696, #666666);
  background-image: -o-linear-gradient(top left, #969696, #666666);
  background-image: -ms-linear-gradient(top left, #969696, #666666);
  background-image: linear-gradient(top left, #969696, #666666);
}

/* line 83, ../sass/component-browser.scss */
#finder li.active {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #79b6dc), color-stop(100%, #5ea7d5));
  background-image: -webkit-linear-gradient(top left, #79b6dc, #5ea7d5);
  background-image: -moz-linear-gradient(top left, #79b6dc, #5ea7d5);
  background-image: -o-linear-gradient(top left, #79b6dc, #5ea7d5);
  background-image: -ms-linear-gradient(top left, #79b6dc, #5ea7d5);
  background-image: linear-gradient(top left, #79b6dc, #5ea7d5);
}

/* line 87, ../sass/component-browser.scss */
#finder li a {
  font: 1em/1em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
  color: #fff;
  text-decoration: none;
}

/* line 93, ../sass/component-browser.scss */
.clearfix {
  clear: both;
}

/* line 97, ../sass/component-browser.scss */
#search {
  padding: 13px 5%;
  width: auto;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #5ea7d5), color-stop(100%, #286893));
  background-image: -webkit-linear-gradient(top left, #5ea7d5, #286893);
  background-image: -moz-linear-gradient(top left, #5ea7d5, #286893);
  background-image: -o-linear-gradient(top left, #5ea7d5, #286893);
  background-image: -ms-linear-gradient(top left, #5ea7d5, #286893);
  background-image: linear-gradient(top left, #5ea7d5, #286893);
}

/* line 103, ../sass/component-browser.scss */
.faux-search-box {
  background: #fff;
  -webkit-box-shadow: inset 0px 3px 3px 1px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: inset 0px 3px 3px 1px rgba(127, 127, 127, 0.5);
  box-shadow: inset 0px 3px 3px 1px rgba(127, 127, 127, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 5px 5%;
  width: 85%;
}

/* line 112, ../sass/component-browser.scss */
#search input[type="text"] {
  border: none;
  width: 85%;
  background: none;
}

/* line 118, ../sass/component-browser.scss */
#search button {
  border-left: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-right: none;
  background: none;
  cursor: hand;
  padding: 0 1%;
}

/* line 129, ../sass/component-browser.scss */
#component-list {
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-top: 98px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 138, ../sass/component-browser.scss */
#component-list li {
  padding: 3%;
  background: #ebebeb;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d7d7d7;
}

/* line 145, ../sass/component-browser.scss */
#component-list li.active, #component-list li:hover {
  background: #fffcdc;
}

/* line 149, ../sass/component-browser.scss */
#component-list li a {
  font: 0.8em/1em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
  color: #2370a9;
  text-decoration: none;
}

/* ---------- Component Panel styles ---------- */
/* line 158, ../sass/component-browser.scss */
#component-panel {
  width: 80%;
  height: 100%;
  float: left;
  margin-left: 20%;
}

/* line 165, ../sass/component-browser.scss */
#component-details {
  background: #c4c4c4;
  padding: 1em;
}

/* line 170, ../sass/component-browser.scss */
#component-details h1 {
  font: 2em/1.5em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
}

/* line 174, ../sass/component-browser.scss */
#component-details p {
  font: 0.8em/0.8em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
  color: #969696;
}

/* line 179, ../sass/component-browser.scss */
#component-details time {
  font-style: italic;
  color: #666;
}

/* line 184, ../sass/component-browser.scss */
#component-details h2 {
  font: 1.5em/1.5em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
}

/* line 188, ../sass/component-browser.scss */
#component-details a.assets-link {
  display: block;
  float: right;
  padding: .8em;
  background: #b6b6b6;
  -webkit-box-shadow: inset 0px 3px 3px 1px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: inset 0px 3px 3px 1px rgba(127, 127, 127, 0.5);
  box-shadow: inset 0px 3px 3px 1px rgba(127, 127, 127, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 199, ../sass/component-browser.scss */
#component-details img {
  padding-left: .8em;
}

/* line 204, ../sass/component-browser.scss */
#states {
  float: left;
  border-right: 1px solid #969696;
  margin: 20px 20px 20px 0px;
  padding-right: 20px;
}

/* line 211, ../sass/component-browser.scss */
#data {
  float: left;
  margin: 20px 20px 20px 0px;
  padding-right: 20px;
}

/* line 218, ../sass/component-browser.scss */
#component-view {
  clear: both;
  -webkit-box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, 0.3);
  min-height: 500px;
}
