/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */


/* ---------- Global styles ---------- */
@font-face {
    font-family: 'SignikaRegular';
    src: url('../fonts/Signika-Regular-webfont.eot');
    src: url('../fonts/Signika-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Signika-Regular-webfont.woff') format('woff'),
         url('../fonts/Signika-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Signika-Regular-webfont.svg#SignikaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a{
	color: #2370a9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

body, html{
	height: 100%;
}

body{
	background: url('../img/linen.png');
	font-family: "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
	color: #333;
}

/* ---------- Nav Panel styles ---------- */

#nav-panel{
	width: 20%;
	min-width: 100px;
	height: 100%;
	position: fixed;
	background: #fff;
}

#finder-panel{
	position: absolute;
	width: 100%;
	height: 150px;
	z-index: 1px;
}

#finder{
	padding: 10px 0 0 5%;
	width: auto;
	clear:both;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #666666 0%, #2d2d2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 0%,#2d2d2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 0%,#2d2d2d 100%); /* IE10+ */
	background: linear-gradient(top,  #666666 0%,#2d2d2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, .5);
}

#finder li{
	float: left;
	margin-right: 5%;
	padding: 10px 5% 5px;
	width: 35%;
	text-align: center;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border-top: rgba(255, 255, 255, .5) solid 1px;
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top,  #969696 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #969696 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #969696 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #969696 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(top,  #969696 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	
}

#finder li.active{
	background: #79b6dc; /* Old browsers */
	background: -moz-linear-gradient(top,  #79b6dc 0%, #5ea7d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79b6dc), color-stop(100%,#5ea7d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #79b6dc 0%,#5ea7d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #79b6dc 0%,#5ea7d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #79b6dc 0%,#5ea7d5 100%); /* IE10+ */
	background: linear-gradient(top,  #79b6dc 0%,#5ea7d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79b6dc', endColorstr='#5ea7d5',GradientType=0 ); /* IE6-9 */
}

#finder li a{
	font: 1em/1em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
	color: #fff;
	text-decoration: none;
}

.clearfix{
	clear:both;
}

#search{
	padding: 13px 5%;
	width: auto;
	background: #5ea7d5; /* Old browsers */
	background: -moz-linear-gradient(top,  #5ea7d5 0%, #286893 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ea7d5), color-stop(100%,#286893)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5ea7d5 0%,#286893 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5ea7d5 0%,#286893 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5ea7d5 0%,#286893 100%); /* IE10+ */
	background: linear-gradient(top,  #5ea7d5 0%,#286893 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea7d5', endColorstr='#286893',GradientType=0 ); /* IE6-9 */
}

.faux-search-box{
	background: #fff;
	-webkit-box-shadow: inset 0px 3px 3px 1px rgba(50%, 50%, 50%, .5);
	-moz-box-shadow: inset 0px 3px 3px 1px rgba(50%, 50%, 50%, .5);
	box-shadow: inset 0px 3px 3px 1px rgba(50%, 50%, 50%, .5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 5%;
	width: 85%;
}
#search input[type="text"]{
	border: none;
	width: 85%;
	background: none;
}

#search button{
	border-left: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	border-right: none;
	background: none;
	cursor: hand;
	padding: 0 1%;

}

#component-list{
	width: 100%;
	overflow: auto;
	height: 100%;
	padding-top: 98px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


#component-list li {
	padding: 3%;
	background:#ebebeb;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d7d7d7;
}

#component-list li.active, #component-list li:hover {
	background:#fffcdc;
}

#component-list li a{
	font: .8em/1em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
	color: #2370a9;
	text-decoration: none;
}


/* ---------- Component Panel styles ---------- */

#component-panel{
	width:80%;
	height: 100%;
	float: left;
	margin-left: 20%;
}

#component-details{
	background: #c4c4c4;
	padding: 1em;
}

#component-details h1{
	font: 2em/1.5em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
}

#component-details p{
	font: .8em/.8em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
	color: #969696;
}

#component-details time{
	font-style: italic;
	color: #666;
}

#component-details h2{
	font: 1.5em/1.5em "SignikaRegular", "Lucida Grande", Lucida Sans, Arial, serif;
}

#component-details a.assets-link{
	display: block;
	float: right;
	padding: .8em;
	background: #b6b6b6; 
	-webkit-box-shadow: inset 0px 3px 3px 1px rgba(50%, 50%, 50%, .5);
	-moz-box-shadow: inset 0px 3px 3px 1px rgba(50%, 50%, 50%, .5);
	box-shadow: inset 0px 3px 3px 1px rgba(50%, 50%, 50%, .5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#component-details img{
	padding-left: .8em;
}
	

#states{
	float: left;
	border-right: 1px solid #969696;
	margin: 20px 20px 20px 0px;
	padding-right: 20px;
}

#data{
	float: left;
	margin: 20px 20px 20px 0px;
	padding-right: 20px;
}


#component-view{
	clear: both;
	-webkit-box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, .3);
	min-height: 500px;
}