/* ---------- Global styles ---------- */

a{
	color: $link-color;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

body, html{
	height: 100%;
}

body{
	background: image-url("linen.png");
	font-family: $serif-font;
	color: #333;
}