<form class="add-lead open">
<i class="icons-form-notch-lead"></i>
<div class="texture">
    <button type="button" class="close-add-lead close-form" id="close-add-lead-form">
        <i class="icons-form-close"/></i>
    </button>
    <div class="form-content">
        <p class="form-title">
            New Lead
        </p>
        <label for="title">Title *</label>
        <input id="title" type="text" name="title" class="title" placeholder="Sales Manager or Possible position through Scott"/>
        <label for="company">Company</label>
        <input id="company" type="text" name="company" placeholder="TheLadders"/>
        <label for="location">Location</label>
        <input id="location" type="text" name="location" placeholder="New York, NY" />
        <label for="url">Link</label>
        <input id="url" type="text" name="url" placeholder="http://" />
        <div class="cancel-save">
            <a class="close-add-lead" id="cancel-add-lead-form">
                Cancel
            </a>
            <input type="submit" value="Save"/>
        </div>
    </div>
</div>
</form>