@font-face {
  font-family: "GandhiSans";
  src: url(../../fonts/GandhiSans-Regular-webfont.eot);
  src: url(../../fonts/GandhiSans-Regular-webfont.eot?#iefix) format('eot'), url(../../fonts/GandhiSans-Regular-webfont.ttf) format('truetype'), url(../../fonts/GandhiSans-Regular-webfont.woff) format('woff'), url(../../fonts/GandhiSans-Regular-webfont.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

